
.title {
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
}

.todo {
  background-color: white;
  width: 550px;
  margin: 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.newToDo {
  position: relative;
  width: 100%;
  height: 65px;
  padding: 16px 16px 16px 60px;
  margin: 0 auto;
  border-top: none;
  border-right: none;
  border-left: none;
  /*box-shadow: 0 1px 13px 0px rgba(117, 102, 102, 0.41);*/
}

.main {
  position: relative;
}

.toggle-all {
  text-align: center;
  border: none;
  opacity: 0;
  position: absolute;
}
.toggle-all + label {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  top: -52px;
  left: -8px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.toggle-all + label::before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}
.toggle-all:checked + label:before {
  color: #737373;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todoItem {
  z-index: -1;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border: none;

}
.todoItem__wrap {
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid #e6e6e6;
  padding: 10px 20px 10px 10px;
}

/*Custom checkbox*/
.desTodo {
  width: 100%;
  display: flex;
  align-items: center;
  word-break: break-all;
  line-height: 1.2;
  margin: 0;
}
.toggle:not(:checked),
.toggle:checked {
  position: absolute;
  left: 11px;
  z-index: 1;
  width: 35px;
  height: 35px;
  opacity: 0;
}
.toggle:not(:checked) + label,
.toggle:checked + label {
  position: relative;
  font-size: 24px;
  padding: 10px 10px 10px 60px;
  cursor: pointer;
}

/* checkbox aspect */
.toggle:not(:checked) + label:before,
.toggle:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.toggle:not(:checked) + label:after,
.toggle:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  /*top: 50%;*/
  left: 7px;
  font-size: 28px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  transform: translateY(-50%);
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
.toggle:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.toggle:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/*Footer*/
.footer {
  border-top: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.filter {
  list-style-type: none;

  align-items: center;
  /*justify-content: space-between;*/
  padding: 0;
  margin: 0;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}
.filter li  {
  display: inline;
  width: 50px;
}

.filter li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}
.filter li a:hover {
  border: 1px solid rgba(175, 47, 47, 0.1);
  text-decoration: none;
  color: inherit;
}
.filter li .selected {
  border: 1px solid rgba(175, 47, 47, 0.2);
}
.filter li .selected:hover{
  border: 1px solid rgba(175, 47, 47, 0.2);
}
/*Button*/
.button {
  font-size: inherit;
  color: inherit;
  border: none;
  background-color: unset;
  padding: 0;
}
.button:focus {
  outline: none;
}
.button--clear:hover {
  color: inherit;
  text-decoration: underline;
}
.todoItem__wrap:hover > button {
  display: block;
}
.button--close {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
}
.button--close::after {
  content: '×';
}

.button--close:hover {
  color: #af5b5e;
}

/*Input*/
input {
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 1px;
  color: inherit;
}
input:focus {
  outline: none;
  text-decoration: none;
}
input::placeholder {
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #e6e6e6;;
  font-style: italic;
}

.completed {
  color: #d9d9d9;
  text-decoration: line-through;
}
.edit {
  display: none;
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  color: #4D4D4D;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.editing {
  border-bottom: none;
  padding: 0;
}

.todo-list li.editing .edit {
  display: block;
  width: 500px;
  padding: 17px 16px;
  margin: 0 0 0 50px;
}
.todo-list li.editing {
  text-decoration: none !important;
}
.todo-list li.editing .todoItem__wrap {
  display: none;
}


